@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Victory Comics";
  src: url('./assets/fontfamily/victory-comics/victorycomics.ttf');
}
.bgSizeFull{
  background-size: 100% 100%;
}